streamlit
deepface
opencv-python-headless
numpy
Pillow
tensorflow==2.11.0
keras==2.11.0
matplotlib
pandas
tqdm
gdown
Flask
mtcnn
retina-face
fire
gunicorn
six
termcolor
Werkzeug
Jinja2
itsdangerous
click
blinker
filelock
requests
requests-oauthlib
